---
layout: default
---

<div class="home">
    <h1 class="page-heading">About me</h1>
   <p> Welcome to my professional website. </br>
    I am a PhD student, since october 2014, in the Serval team of the SnT Interdisciplinary Centre at the University of Luxembourg.</br>
    My researches are currently focuses on Vulnerability Prediction Models<br></p>

    <p>I am also a teaching assistant at the FSTC(Faculty of Science, Technology and Communication ) of the University of Luxembourg.</p>

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>


    <div class="row-fluid">
        <div class="span12">
            <div class="pagination">
                <ul>
                    {% if paginator.previous_page %}
                    {% if paginator.previous_page == 1 %}
                    <li><a href="/">Prev</a></li>
                    {% else %}
                    <li><a href="/page{{ paginator.previous_page }}">Prev</a></li>
                    {% endif %}
                    {% else %}
                    <li><span class="disabled">Prev</span></li>
                    {% endif %}
                    {% if paginator.page == 1 %}
                    <li><span class="active">1</span></li>
                    {% else %}
                    <li><a href="/">1</a></li>
                    {% endif %}
                    {% for count in (2..paginator.total_pages) %}
                    {% if count == paginator.page %}
                    <li><span class="active">{{ count }}</span></li>
                    {% else %}
                    <li><a href="/page{{ count }}">{{ count }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if paginator.next_page %}
                    <li><a href="/page{{ paginator.next_page }}">Next</a></li>
                    {% else %}
                    <li><span class="disabled">Next</span></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
