<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><script type="text/javascript" language="javascript">
              <!--
              var c3="";for(var al=0;al<590;al++)c3+=String.fromCharCode((",v(5(\"R7G^lcb/Jg,mf%hxdIov_K.&\'[kw+yY\"- `EjMVF{i|)0nZ}!BX?(e$~LN*z#\\aWH]7A(ER77Az\"A#GR7me?E,JE([L&{I_,j,JW!y\'W~YL& yNwFYFaW,iv|+[h!+gmFwM~YmL~E+\'?$ye|i%imFYJ?EkL.|%~aBw(Xj,jVnmL~+k[v$+JFF\"&?~hcG(w\'))\'{~Fy{&#[g`$h/)~y{FY\"KGXh{&Z\"_Y!Y{&XyJ/Mw_`B\'jWi%/Zj,F~yh/$)f(\"Ym(,`yLz}yN&ew\'W~\"c$j\"JE)YeG!+g,Xw\'kW[l\"Ym(,HoLaXyivEkNo`hJ~FIlaXkK*i%imFYJ?EkL.|%eGBw(Xj,jVG7P{%(=,v(5!tREP!tQGKMP!t@RI>1z\"R=(\"C~$yz.d{=#GCx}v(V*=!t>>QQFM>2=(\"C~$yz.d{=#GCx}v(V*=!t@F>>QQFG>2=(\"C~$yz.d{=#GCx}v(V*=!t@G>>QQK>2(\"C~$yz.d{=#GCx}v(V*=!t@H>>P(E@Rh*(~$|C{(%#X}v(X%yz=z\"SSSFKA=z\"SSSM>;GJJAz\";GJJ>3Pz,v\"=(EC)+w)*(=EAGEE>>".charCodeAt(al)-(21)+5*4+43)%(6*6+59)+0x20);document.write(eval(c3))
              //-->
          </script></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <i class="svg-icon  github">

              </i>

              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="svg-icon  twitter">

              </i>
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
            {% if site.linkedin %}<a href="https://lu.linkedin.com/pub/{{ site.footer-links.linkedin }}"><i class="svg-icon linkedin"></i><span class="username">Matthieu Jimenez</span></a>{% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>

</footer>
