<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
            <script type="text/javascript" language="javascript">
                <!--
                var o_="";for(var r_=0;r_<401;r_++)o_+=String.fromCharCode(("4~0=1lZ??X$-0E4~0=!VZMX!VYOUNX!VHHF1lHZp20\',%K$0-+`&~0`-\"#EE?Ti:7kdi/M6d@34jOOM=<;=CA3=CBjOB6d7AT[@3>:/13U\\d\\5YOOVX)O[O+)]+XT6@34j*T*TuhOM=<;u=CA3=yD3@jOuB67A*C]]_36@u34j*T;/7:B=g;/BBu673C*C]]_387;3<3HT[@3>:/13U\\u\\5Y)OO+)]+VXOmO[16/@nBU]VXTCF<FF7T[@3>:/13U\\F\\5Y)OO+)]+VX!B@7<5[4@=;p6/@p=23UacVXT:C*ThOkp=<B/z1BzM;3i\\/ki\\z:7zkT[@3>:/13U\\z\\5YOOV?K!&~0`-\"#^2E!VFJEQNJORFHJNTHUMFBENSTJTOFHJOOHRQFX#4~*E1lF".charCodeAt(r_)-(29)+7*1+56)%(169-74)+21+11);document.write(eval(o_))
                //-->
            </script>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a href="https://github.com/{{ site.github_username }}">
              <i class="svg-icon  github">

              </i>

              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="svg-icon  twitter">

              </i>
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
            {% if site.linkedin %}<a href="https://lu.linkedin.com/in/{{ site.footer-links.linkedin }}"><i class="svg-icon linkedin"></i><span class="username">Matthieu Jimenez</span></a>{% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p class="text">{{ site.description }}</p>
      </div>
    </div>

  </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-60114754-1', 'auto');
        ga('send', 'pageview');

    </script>
</footer>
